MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/rental-app?retryWrites=true&w=majority
PORT=8000
NODE_ENV=production
CLOUDINARY_CLOUD_NAME=dhpwlrdif
CLOUDINARY_API_KEY=668324319918668
CLOUDINARY_API_SECRET=VKYxFeXp0F0HGU1FGnt3QvWO-Gc
ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app,https://www.your-domain.com
